.title {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.current-time-container {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#set-alarm-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
